body {
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* toggle modes */

.light-mode {
    background-color: #fff;
    color: #111827;
}

.dark-mode {
    background-color: #1F2937;
    color: #fff;
}

/* set layout */

div {
    max-width: 37.5em;
    margin: 1.5em auto;
    padding: .5em;
    height: 100%;
}

h1 {
    font-size: 2rem;
    margin: 1em auto;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

input {
    --web-appearance: none;
    --moz-appearance: none;
    appearance: none;
    width: 5em;
    height: 4.25em;
    padding: .25em;
    color: #fff;
    background-color: #3D4B60;
    border: none;
    cursor: pointer;
}

#mode-selector,
#mode-selector option {
    font-size: 1rem;
    padding: .75em .5em;
    border-radius: 0.275em;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#mode-selector option {
    background-color: #1F2937;
}

#btn-generate {
    background-color: #3D4B60;
    border-radius: 0.275em;
    color: #fff;
    padding: .75em 1.25em;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

/* color display */

.colors-wrapper {
    display: flex;
    gap: .25em;
}

.color-box {
    width: 10em;
    height: 30em;
    border-radius: .5em;
    cursor: pointer;
}

.hex-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 50%;
}

p {
    margin: 0 auto 1em;
}

